name: build and deploy signal
on:
  push:
    pull_request:
      branches:
        - main
        - master
    tags:
      - '*'
        #branches:
        #  - main
        #  - master
        #  - testing
  workflow_dispatch:
    inputs:
      x86_64:
        type: boolean
        default: true
        description: build x86_64
      aarch64:
        type: boolean
        default: true
        description: build aarch64
jobs:
  # publish release if this was pushed with a tag
  publish-release:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    name: 'publish release'
    steps:
      - name: Create Release
        if: startsWith(github.ref, 'refs/tags/')
        uses: ncipollo/release-action@v1
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          allowUpdates: true
          draft: false
          prerelease: false
          name: ${{ github.ref }}
          tag: ${{ github.ref }}

  build-arm64:
    runs-on: ubuntu-24.04-arm
    name: 'build arm64'
    if: ${{ github.event_name != 'workflow_dispatch' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.aarch64 == 'true' ) }}
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - name: cleanup
        uses: flatpaks/runner-cleanup@2
      - name: install dependnecies and secrets
        shell: bash
        env:
          GPG_KEY: ${{secrets.GPG_KEY}}
        run: |
          sudo apt-get update
          sudo apt-get install -qq -y gpg openssh-client bash rsync elfutils coreutils slirp4netns rootlesskit binfmt-support fuse-overlayfs qemu-user-static podman
          echo "$GPG_KEY" | gpg --import
      - name: checkout code
        uses: actions/checkout@v6
      - name: build arm64 deb
        shell: bash
        env:
          VERSION: "7.82.0"
        run: |
          set -x
          echo "build aarch64"
          echo "Version is: $VERSION"
          bash ci-build.sh arm64
          podman stop signal-desktop-$VERSION
          podman rm signal-desktop-$VERSION
          mv ~/signal-arm64.deb .
      - name: Upload arm64
        uses: actions/upload-artifact@v5
        with:
          path: signal-arm64.deb
          name: signal-arm64.deb

  build-amd64:
    runs-on: ubuntu-24.04
    name: 'build x86_64'
    if: ${{ github.event_name != 'workflow_dispatch' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.x86_64 == 'true' ) }}
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - name: cleanup
        uses: flatpaks/runner-cleanup@2
      - name: install secrets
        shell: bash
        env:
          GPG_KEY: ${{secrets.GPG_KEY}}
        run: |
          sudo apt-get update
          sudo apt-get install -qq -y gpg openssh-client bash rsync elfutils coreutils slirp4netns rootlesskit binfmt-support fuse-overlayfs qemu-user-static podman
          echo "$GPG_KEY" | gpg --import
      - name: checkout code
        uses: actions/checkout@v6
      - name: build x86_64
        shell: bash
        env:
          VERSION: "7.82.0"
        run: |
          set -x
          echo "build x86_64"
          echo "Version is: $VERSION"
          bash ci-build.sh amd64
          podman stop signal-desktop-$VERSION
          podman rm signal-desktop-$VERSION
          mv ~/signal-amd64.deb .
      - name: Upload x86_64
        uses: actions/upload-artifact@v5
        with:
          path: signal-amd64.deb
          name: signal-amd64.deb

  # depends on both builds, but in case one was skipped, still run after both are done
  # that's what the weird if statement is for
  build-flatpaks:
    runs-on: ubuntu-24.04
    name: 'build flatpaks'
    needs:
      - build-arm64
      - build-amd64
    if: always() && (needs.build-arm64.result == skipped || needs.build-arm64.result == success) && (needs.build-amd64.result == skipped || needs.build-amd64.result == success)
    steps:
      - name: Set env.BRANCH
        run: echo "BRANCH=$(echo $GITHUB_REF | cut -d'/' -f 3)" >> $GITHUB_ENV
      - name: cleanup
        uses: flatpaks/runner-cleanup@2
      - name: install dependencies and secrets
        shell: bash
        env:
          GPG_KEY: ${{secrets.GPG_KEY}}
        run: |
          df -h .
          sudo apt-get update
          sudo apt-get install -qq -y gpg openssh-client bash rsync flatpak elfutils coreutils slirp4netns rootlesskit binfmt-support fuse-overlayfs flatpak-builder qemu-user-static unzip
          echo "$GPG_KEY" | gpg --import
      - name: checkout code
        uses: actions/checkout@v6
      - name: Download arm64 artifacts
        if: ${{ github.event_name != 'workflow_dispatch' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.aarch64 == 'true' ) }}
        uses: actions/download-artifact@v6
        with:
          path: .
          name: signal-arm64.deb
      - name: Download x86_64 artifacts
        if: ${{ github.event_name != 'workflow_dispatch' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.x86_64 == 'true' ) }}
        uses: actions/download-artifact@v6
        with:
          path: .
          name: signal-amd64.deb
      - name: set up flatpak
        shell: bash
        run: |
          sudo rm -rf /opt/pakrepo/
          sudo mkdir -p /opt/pakrepo
          sudo chown "$USER" /opt/pakrepo
          sudo usermod -a -G_flatpak $USER
          flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
      - name: build flatpaks
        shell: bash
        env:
          build_x86_64: ${{ github.event_name != 'workflow_dispatch' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.x86_64 == 'true' ) }}
          build_aarch64: ${{ github.event_name != 'workflow_dispatch' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.aarch64 == 'true' ) }}
        run: |
          ls -alh *deb
          file *.deb
          # amd64
          if [[ "$build_x86_64" == "true" ]];then
            flatpak-builder --user --install-deps-from=flathub --arch=x86_64 --gpg-sign=FBEF43DC8C6BE9A7 --repo=/opt/pakrepo --force-clean .builddir flatpak.yml
            flatpak build-bundle --arch=x86_64 /opt/pakrepo ./signal_amd64.flatpak org.signal.Signal master
            sha256sum ./signal_amd64.flatpak | tee -a checksums.txt
            sha256sum ./signal-amd64.deb | tee -a checksums.txt
          fi
          df -h .
          # arm64
          if [[ "$build_aarch64" == "true" ]];then
            flatpak-builder --user --install-deps-from=flathub --arch=aarch64 --gpg-sign=FBEF43DC8C6BE9A7 --repo=/opt/pakrepo --force-clean .builddir flatpak.yml
            flatpak build-bundle --arch=aarch64 /opt/pakrepo ./signal_arm64.flatpak org.signal.Signal master
            sha256sum ./signal_arm64.flatpak | tee -a checksums.txt
            sha256sum ./signal-arm64.deb | tee -a checksums.txt
          fi
      - name: Upload checksums.txt
        uses: actions/upload-artifact@v5
        with:
          path: checksums.txt
          name: checksums.txt
      - name: Upload amd64 flatpak
        if: ${{ github.event_name != 'workflow_dispatch' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.x86_64 == 'true' ) }}
        uses: actions/upload-artifact@v5
        with:
          path: signal_amd64.flatpak
          name: signal_amd64.flatpak
      - name: Upload arm64 flatpak
        if: ${{ github.event_name != 'workflow_dispatch' || ( github.event_name == 'workflow_dispatch' && github.event.inputs.aarch64 == 'true' ) }}
        uses: actions/upload-artifact@v5
        with:
          path: signal_arm64.flatpak
          name: signal_arm64.flatpak

      # Publish
      - name: Upload release artifacts
        if: startsWith(github.ref, 'refs/tags/')
        env:
          VERSION: "7.82.0"
        uses: AButler/upload-release-assets@v3.0
        with:
          release-tag: ${{ env.VERSION }}
          files: "signal_amd64.flatpak;signal_arm64.flatpak;signal-amd64.deb;signal-arm64.deb;checksums.txt"
          repo-token: ${{ secrets.GITHUB_TOKEN }}
      - name: checkout gh-pages branch
        if: startsWith(github.ref, 'refs/tags/')
        uses: actions/checkout@v6
        with:
          ref: 671da365bc1e7786a1a3c46f25825d3d17ee69f6
      - name: sync to gh-pages branch repo dir and commit
        if: startsWith(github.ref, 'refs/tags/')
        env:
          VERSION: "7.82.0"
        shell: bash
        run: |
          rsync -a --delete /opt/pakrepo/ ./repo/
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          git add repo
          git commit -m "repo update for $VERSION"
          git push -f origin HEAD:gh-pages
