name: run autobuild.sh
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
jobs:
  autobuild-sh:
    runs-on: ubuntu-latest
    name: run autobuild.sh
    steps:
      - name: checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.OTHER_TOKEN }}
      - name: run autobuild.sh
        shell: bash
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          ./autobuild.sh -p
