name: version check
on:
  schedule:
    - cron: '0 1 * * 6'
  workflow_dispatch:
    inputs:
      beta:
        type: boolean
        description: beta builds
        default: false
jobs:
  autobuild-sh:
    runs-on: ubuntu-latest
    name: run autobuild.sh
    steps:
      - name: checkout code
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.OTHER_TOKEN }}
      - name: run autobuild.sh
        shell: bash
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          if [[ "${{ inputs.beta }}" == "true" ]];then
            ./autobuild.sh -p -b
          fi
          ./autobuild.sh -p
